
.mat-slider-horizontal {
    width: 400px;
    margin-right: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.firebtn {
    text-align:center;
}

.rightmargin {
    margin-right:8px;
}

.leftmargin {
    margin-left: 8px;
}