<div class="w3-container" style="margin-top:10px">
    <img src="assets/ArtilleryLogo_small.png">

    <div class="w3-row w3-theme">
        <div class="w3-section" style="min-width: 600px !important;">
            <mat-card style="margin-bottom:10px" >
                <mat-card-content >
                    <!--<h4>Artillery Simulator</h4>-->
                    <h5>Shell weight: {{shell_weight}} kg<br>
                    Distance to target: {{target_distance}} meters<br>
                    Target size: {{target_size}} meters
                    </h5>
                    <br>
                    <br>

                    <mat-form-field>
                        <input matInput placeholder="Enter your name" (input)="onUsernameInput()"
                            [(ngModel)]="username">
                    </mat-form-field>
                    <br>

                    <span style="white-space: nowrap; ">
                    Angle: <mat-slider max=90 min=0 step=0.1 thumbLabel [(ngModel)]="barrel_angle"></mat-slider>
                    <span>{{barrel_angle}} degrees</span> <br>
                    </span>

                    <span style="margin-right: 10px">Muzzle velocity: </span>
                    <mat-form-field>
                        <mat-label>Select velocity (m/s):</mat-label>
                        <mat-select [(value)]="muzzle_velocity">
                            <mat-option *ngFor="let velocity of VELOCITIES" [value]=velocity>{{velocity}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>

                    <span style="margin-right: 10px">Gravity:</span>
                    <mat-form-field>
                        <mat-label>Select gravity (m/s<sup>2</sup>):</mat-label>
                        <mat-select [(value)]="gravity">
                            <mat-option *ngFor="let grav of GRAVITIES" [value]=grav.gravity>{{grav.planet}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <span style="margin-left: 10px">{{gravity}} m/s<sup>2</sup></span>
                </mat-card-content>

                <mat-card-footer>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <div class="firebtn">
                            <button mat-raised-button color="warn" [disabled]=!readyToFire
                                (click)="onFire()">Fire!</button>
                            <p>{{shotresult}}</p>
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>


    <div class="w3-row-padding w3-theme">

        <div class="w3-third w3-section" >
            <mat-card *ngIf="userinfo">
                <mat-card-content>
                    <h3>{{userinfo.username}}</h3>
                    Shots: {{userinfo.shotcount}}<br>
                    Hits: {{userinfo.hitcount}}<br>
                    Average: {{userinfo.average | number: '1.1-2'}}<br>
                    Rank: {{userinfo.rank}}<br>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="w3-third w3-section ">
            <mat-card >
                <mat-card-content>
                    <h3>All Users</h3>
                    <span *ngIf="globalstats">
                        Shots: {{globalstats.shotcount}}<br>
                        Hits: {{globalstats.hitcount}}<br>
                        Average: {{globalstats.average | number: '1.1-2'}} <br>
                        Total users: {{globalstats.usercount}} <br>
                    </span>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="w3-third w3-section">
            <mat-card>
                <mat-card-content>
                    <h3>Top 5 Users</h3>
                    <div *ngFor="let user of topUsers">
                        <mat-divider ></mat-divider>
                        <h4 style="padding-top: 8px">{{user.username}}</h4>
                        Rank: {{user.rank}}<br>
                        Shots: {{user.shotcount}}<br>
                        Hits: {{user.hitcount}}<br>
                        Average: {{user.average | number: '1.1-2'}}<br>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>


    </div>
</div>