//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
//blue-green-theme.scss
//verified - 3/11/2019

@import '~@angular/material/theming';
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blue-green-primary: mat-palette($mat-indigo, 800, 400, 900);
$blue-green-accent:  mat-palette($mat-green, 700, 400, 900);

// The warn palette is optional (defaults to red).
$blue-green-warn:    mat-palette($mat-orange);

// Not working as expected
// $background-color: map-get($mat-indigo, 50); // #e8eaf6

// Create the theme object (a Sass map containing all of the palettes).
$blue-green-theme: mat-light-theme($blue-green-primary, $blue-green-accent, $blue-green-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

// Insert custom background color
// Not working as expected
//$background: map-get($blue-green-theme, background);
//$background: map_merge($background, (background: $background-color));
//$blue-green-theme: map_merge($blue-green-theme, (background: $background));

@include angular-material-theme($blue-green-theme); 