
@import 'blue-green-theme.scss';

body { 
    min-height: 100%;
    margin: 0px; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}



html {
    height: 100%;
    box-sizing: border-box;
  }
  


